
.main_screen{
    background-color: #F2F2F2;
    width: 1170px;
    height: 788px;
    margin: auto;
}

.dynamic{
    background-color: #FFFFFF;
    width: 1130px;
    height: 690px;
    margin: auto;
    margin-top: 12px;
    border-radius: 20px;
}
.card{
       width: 180px;
       height: 150px;
       background-color: white;
       border-radius: 25px;
       box-shadow: 0px 3px 6px grey ;
       /* padding-top: 20px; */
       padding: 5px;
      
}
/* .card1{
    padding-top: 25px;
    margin-left: 20px;
   
} */
.brief{
   
    width:55px;
    height:46px;
  background: #B113A6;
  color: white;
 
  border-radius: 5px;
  box-shadow: 0 5px 10px #B113A6;
  display: flex;
  align-items: center;
  justify-content: center; 
  margin-left: 25px;
  margin-top: 10px;
  
 }

 .appoin{
     margin-left: 30px;
     margin-top: 20px;
     font-family: 'roboto';
     font-size: 19px;
     opacity: 1px;
     font-weight:600;
     color:'#000000';
    margin-bottom: 9px;
    
 }
 .brief2{
    
    width:55px;
    height:46px;
  background: #B113A6;
  color: white;
  
  border-radius: 5px;
  box-shadow: 0 5px 10px #B113A6;
  display: flex;
  align-items: center;
  justify-content: center; 
  margin-left: 25px;
  margin-top: 10px;
  
 }
 .appoin2{
    margin-left: 30px;
    margin-top: 20px;
    font-family: 'roboto';
    font-size: 19px;
    opacity: 1px;
    font-weight:600;
    color:'#000000';
   margin-bottom: 9px;
   
}

.brief3{
    
    width:55px;
    height:46px;
  background: #B113A6;
  color: white;
  
  border-radius: 5px;
  box-shadow: 0 5px 10px #B113A6;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 25px;
  margin-top: 10px; 
  
 }
 .appoin3{
    margin-left: 30px;
    margin-top: 20px;
    font-family: 'roboto';
    font-size: 19px;
    opacity: 1px;
    font-weight:600;
    color:'#000000';
   margin-bottom: 9px;
   
}
.brief4{
    
    width:55px;
    height:46px;
  background: #B113A6;
  color: white;
  
  border-radius: 5px;
  box-shadow: 0 5px 10px #B113A6;
  display: flex;
  align-items: center;
  justify-content: center; 
  margin-left: 25px;
  margin-top: 10px;
 }
 .appoin4{
    margin-left: 30px;
    margin-top: 20px;
    font-family: 'roboto';
    font-size: 19px;
    opacity: 1px;
    font-weight:600;
    color:'#000000';
   margin-bottom: 9px;
   
}
.head{
    margin-left: 30px;
    margin-top: 40px;
    font-family: Roboto;
    font-size: 18px;
    color: #000000;
    font-weight: 600;
}
